<div class="booyah-box col-10 offset-1">
  <h1>Enter your place details here</h1>
  <hr />
    <%= simple_form_for @place do |f| %>
    
    <form class="review">
      <div class="form-group">
          <label for="exampleInputEmail1">Name</label>
          <%= f.input :name, label: false, placeholder: 'Restaurant Name', input_html: { class: 'form-control'} %>
      </div>
      <div class="form">
        <label for="address">Address</label>
          <%= f.input :address, label: false, placeholder: 'ex: 1111 Joe LN', input_html: { class: 'form-control'} %>
      </div>
      <div class="form-group">
      <br />
        <label for="Details">Restaurant Details</label>
          <%= f.input :description, label: false, placeholder: 'Your initial review here', input_html: { class: 'form-control'} %>
      </div>
          <br />
          <%= f.submit 'Create', class: 'btn btn-outline-info' %>

    <% end %>
    </form>
</div>